body{
    font-family: 'Questrial', sans-serif;
    background: #cacaca
}

.container{
    height: 375px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #000000;
    padding: 20px;
    box-shadow: 0 0 8px 3px rgb(41, 41, 41);
}

.title{
   padding-top: 20px;
   text-align: center;
   font-size: 34px;
   text-transform: uppercase;
   color: white
}

.welcomeText{
    color:white;
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
}

#startButton{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    background: teal;
    color: white;
    border: none;
}
#startButton:hover{
    background: #cacaca;
    color: teal;
}

#timerLabel{
    color: rgb(65, 65, 65);
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}

#quizTimer{
    color: teal;
    font-size: 30px;
    text-align: center;
}

.question{
    padding: 20px;
    font-size: 20px;
    background: #cacaca;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: black
}

.option{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 0;
    vertical-align: middle;
    background:teal;
    margin: 10px 0 10px 0;
    color: white;
    border-radius: 20px;
}

.option:hover {
    background:#cacaca;
    color: black;
}

.answer-btn{
    border: none;
    outline: none;
    background:rgb(27, 27, 27);
    color: white;
    border-color:teal;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.answer-btn:hover{
    background: white;
    color:teal;
}

.checkAnswer{
    color: white;
    padding-top: 10px;
    font-size: 24px;
    float: left;
}

.result{
    height: 100px;
    text-align: center;
    font-size: 75px;
    color: white;
}

.option input:checked .option{
    background: teal;
    color: white;
}

#scoreSubmit{
    color: white;
}